
      <div class="projects-section-header">
        <p>@ViewBag.Curso</p>
        <p class="time">@ViewBag.Fecha</p>
      </div>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">@ViewBag.Progreso</span>
            <span class="status-type">En Progreso</span>
          </div>
          <div class="item-status">
            <span class="status-number">@ViewBag.Total</span>
            <span class="status-type">Temas Totales</span>
          </div>
        </div>
        <div class="view-actions">
          <button class="view-btn list-view" title="List View">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
              <line x1="8" y1="6" x2="21" y2="6" />
              <line x1="8" y1="12" x2="21" y2="12" />
              <line x1="8" y1="18" x2="21" y2="18" />
              <line x1="3" y1="6" x2="3.01" y2="6" />
              <line x1="3" y1="12" x2="3.01" y2="12" />
              <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
          </button>
          <button class="view-btn grid-view active" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7" />
              <rect x="14" y="3" width="7" height="7" />
              <rect x="14" y="14" width="7" height="7" />
              <rect x="3" y="14" width="7" height="7" /></svg>
          </button>
        </div>
      </div>
      <div class="project-boxes jsGridView">
    @foreach (var item in ViewBag.Temas)
    {
       <div class="project-box-wrapper">
          <div class="project-box" style="background-color: @item.Temas.Colores.ColorLight;">
            <div class="project-box-header">
              <span>@item.UltFechaModif</span>
              <div class="more-wrapper">
                <a href="/home/subtemas?tema=@item.Temas.Id" class="project-btn-more">
                    <img src="~/Images/Curso/NextItem.png"
                    alt="MDN logo" width="20" height="20"/>
                </a>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">@item.Temas.TituloTema</p>
              <p class="box-content-subheader">@ViewBag.Curso</p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progreso</p>
              <div class="box-progress-bar">
                <span class="box-progress" style="width: @item.PorcentajeAvance%; background-color: @item.Temas.Colores.ColorBlack"></span>
              </div>
              <p class="box-progress-percentage">@item.PorcentajeAvance%</p>
            </div>
            <div class="project-box-footer">
              <div class="participants">
                <img src="@item.Temas.LinkImgTema" alt="participant">
              </div>
              <div class="days-left" style="color: black;">
                Recien Empiezas
              </div>
            </div>
          </div>
        </div> 
    }

        
  </div>
      